.about-us {
  background: whitesmoke;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
}

footer {
  background: whitesmoke;
  padding: 0.5rem 0;
  text-align: center;
}

.about-left {
  padding: 4rem 6rem 2rem 10%;
  flex: 1;
}

.about-right {
  flex: 1;
  padding: 4rem 6rem 2rem 2rem;
}

.about-title {
  font-size: 2.5rem;
  margin: 0;
}

.contact-title {
  font-size: 2.5rem;
  margin: 0;
}

.about-left p {
  width: 80%;
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.about-right p {
  width: 80%;
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1rem;
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

.social {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

#olivera {
  display: flex;
  margin-top: 3rem;
}

#aleksandra {
  display: flex;
  margin-top: 2rem;
}

#olivera p {
  margin: 0;
  padding: 0;
  width: 12rem;
}

#aleksandra p {
  margin: 0;
  padding: 0;
  width: 12rem;
}

.email {
  font-size: 1.5rem;
}

#info {
  margin-top: 2rem;
}

@media (max-width: 1000px) {

  #olivera {
    margin-top: 2rem;
  }

  #aleksandra {
    margin-top: 1rem;
  }

  #olivera p {
    font-size: 1.1rem;
  }

  #aleksandra p {
    font-size: 1.1rem;
  }

  .email {
    font-size: 1.2rem;
  }

  .about-title {
    font-size: 2rem;
    color: whitesmoke;
  }

  .contact-title {
    font-size: 2rem;
  }

  .about-left {
    flex: 100%;
    padding: 2rem;
    height: auto;
    background: #252525;
  }

  .about-left p {
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    color: whitesmoke;
  }

  .about-right {
    flex: 100%;
    padding: 2rem;
    height: auto;
    background: whitesmoke;
  }

  a {
    color: #252525;
  }
}

@media (min-width: 1000px) and (max-width: 1600px) {
  .email {
    font-size: 1.4rem;
  }

  .about-left p {
    width: 100%;
    font-size: 1.3rem;
  }

  .about-title {
    font-size: 2.4rem;
  }

  .about-left {
    padding-top: 8rem;
    flex: 1;
  }

  .about-right {
    flex: 1;
    padding-top: 8rem;
  }
}
