<div class="about-us" #about>
  <div class="about-left">
    <h1 class="about-title">About us</h1>
    <p>
      We are a passionate team of two students from Novi Sad, Serbia, embarking on the exciting journey of creating our very first PC game.
      <br>
      <br>
      As a team, we're combining our strengths and creativity to create a game that reflects our passion for game development.
      <br>
      <br>
      Follow us along as we bring our vision to reality!
    </p>
  </div>
  <div class="about-right">
    <h1 class="contact-title">Contact</h1>
    <div id="info">
      <a class="email" href="mailto:studio.alox@gmail.com">studio.alox&#64;gmail.com</a>
      <div id="aleksandra">
        <p>Aleksandra Bolić</p>
        <a href="https://www.linkedin.com/in/aleksandra-boli%C4%87-5462a2334/" target="_blank">
          <img class="social" src="assets/linkedin.png" alt="LinkedIn"/>
        </a>
      </div>
      <div id="olivera">
        <p>Olivera Radovanović</p>
        <a href="https://www.linkedin.com/in/olivera-radovanovi%C4%87-70bba5212/" target="_blank">
          <img class="social" src="assets/linkedin.png" alt="LinkedIn"/>
        </a>
        <a href="https://github.com/Olivera2708" target="_blank">
          <img class="social" src="assets/github.png" alt="Github"/>
        </a>
      </div>
    </div>
  </div>
</div>
<footer>
  &copy; 2024 Alox Games
</footer>

