.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101010;
    padding: 0.6rem 2rem;
    color: white;
    position: relative;
    height: 3rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.navbar-brand a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.2em;
}

.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.6rem 1rem;
    }

    .navbar-links {
        position: fixed;
        top: 0;
        right: -60%;
        width: 60%;
        height: 100%;
        flex-direction: column;
        background-color: #101010;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        padding: 5rem 0;
        align-items: start;
    }

    .navbar-toggle {
        display: block;
    }

    .overlay {
        visibility: visible;
    }

    .navbar-links.open {
        transform: translateX(-100%);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }
}

#logo {
    width: 8rem;
    height: fit-content;
}
