<nav class="navbar">
    <div class="navbar-brand" (click)="scrollToTop()">
        <img id="logo" src="assets/logo.png" alt="logo"/>
    </div>
    <button class="navbar-toggle" (click)="toggleNavbar()">☰</button>

    <div class="navbar-links" [ngClass]="{'open': navbarOpen}">
        <a routerLink="/games" routerLinkActive="active" (click)="scrollToGames()">Our games</a>
        <a routerLink="/about" routerLinkActive="active">About us</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

    <div class="overlay" *ngIf="navbarOpen" (click)="toggleNavbar()"></div>
</nav>
