<div id="chromatic-awakening" #games>
  <div class="ch-left">
<!--    <img />-->
    <h1 class="game-title">Chromatic Awakening</h1>
    <p>
      Take on the role of Kai, a lone wanderer in a realm where shadows have consumed every hue. As the last beacon of hope, your mission is to restore color to the world, one step at a time.
      <br>
      <br>
      Solve intricate puzzles, explore breathtaking landscapes, and uncover the mysteries behind the collapse.
      <br>
      <br>
      Every restored color brings new life and reveals deeper truths - will you have the courage to face the darkness and bring vibrance back to this desolate world?
    </p>
  </div>
  <div class="ch-right">
      <app-character3d></app-character3d>
  </div>
  <div class="sample-images"
       (touchstart)="onTouchStart($event)"
       (touchend)="onTouchEnd($event)"
       (mousedown)="onMouseDown($event)"
       (mousemove)="onMouseMove($event)"
       (mouseup)="onMouseUp($event)">
    <div class="carousel">
      <div class="carousel-item images" [class.active]="true">
        <div class="area-left">
          <img [src]="items[currentIndex].image" draggable="false"/>
        </div>
        <div class="area-right">
          <h2 class="area-title" [ngStyle]="{ 'color': items[currentIndex].color }">
            {{ items[currentIndex].title }}
          </h2>
          <p [innerHTML]="items[currentIndex].description"></p>
        </div>
      </div>
    </div>
    <div class="dots">
      <div
        class="dot"
        *ngFor="let item of items; let i = index"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)"
      ></div>
    </div>
  </div>
</div>
