<div id="chromatic-awakening" #games>
  <div class="ch-left">
<!--    <img />-->
    <h1 class="game-title">Chromatic Awakening</h1>
    <p>
      Take on the role of Kai, a lone wanderer in a realm where shadows have consumed every hue. As the last beacon of hope, your mission is to restore color to the world, one step at a time. Solve intricate puzzles, explore breathtaking landscapes, and uncover the mysteries behind the collapse.
      <br>
      <br>
      Every restored color brings new life and reveals deeper truths - will you have the courage to face the darkness and bring vibrance back to this desolate world?
    </p>
  </div>
  <div class="ch-right">

  </div>
  <div class="sample-images">
    <img src="assets/main.webp"/>
    <img src="assets/main.webp"/>
    <img src="assets/main.webp"/>
    <img src="assets/main.webp"/>
  </div>
</div>
