html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lalezar', 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
}
